*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.firebaserc
app/google-services.json
app/src/debug/res/values/google_maps_api.xml
app/src/release/res/values/google_maps_api.xml
